*.log
logs/
/target/
*.gz
.vscode
target/
target
.vscode/
node_modules
# Ignore other system files
*.class
*.jar
*.war
*.ear

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
/.idea/
/*.iml
/*.ipr
/*.iws
