<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chapter Detail</title>
</head>
<body>

    <div th:if="${chapter != null}">
        <h2>Chapter Name: <span th:text="${chapter.name}"></span></h2>
        <h3>Chapter Images:</h3>
        <div th:each="image : ${listImage}">
            <img th:src="@{${image}}" alt="Chapter Image" />
        </div>
    </div>
    <div th:unless="${chapter != null}">
        <p>No chapter found.</p>
    </div>

<div th:unless="${manga != null}">
    <p>No manga found.</p>
</div>
</body>
</html>
