<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<input type="hidden" th:value="${maxPage}" id="maxPage">
<div class="container py-3 bg-content-gray">
    <div class="m-0 px-0 py-3 w-100 row">
        <div class="col-12 col-lg-8">
            <div class="w-100 mb-3 d-flex gap-3">
                <a href="/" class="btn m-0 p-0 text-primary">Trang chủ</a>
                <span>››</span>
                <a href="/history" class="btn m-0 p-0 text-primary">Lịch sử</a>
            </div>
            <h6 class="theme-page-title">Lịch sử đọc truyện</h6>
            <div class="row m-0 p-0">
                <div class="col-6 col-sm-4 col-md-3 manga-card" th:each="his : ${history}">
                    <a th:href="@{/manga/{id}(id=${his.manga.id})}">
                        <div class="box-img">
                            <img loading="lazy" th:src="${his.manga.thumbnailImg}" th:attr="alt=${his.manga.name}">
                            <div class="box-skeleton">
                                <i class="fas fa-spinner"></i>
                            </div>
                        </div>
                        <div class="box-name">
                            <h6 th:text="${his.manga.name}" class="mb-2"></h6>
                        </div>
                    </a>

                    <a th:href="'/manga/' + ${his.manga.id} + '/chapter/' + ${his.chapter.id}" class="btn m-0 p-0"
                        th:text="'Đọc tiếp ' + ${his.chapter.name} + ' >'"></a>
                </div>
            </div>
        </div>
    </div>
</div>