<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<input type="hidden" th:value="${maxPage}" id="maxPage">
<div class="w-100 m-0 p-0">
    <h6 class="theme-page-title" th:text="${global.get('appname')} + ' - Truyện đề cử >'"></h6>
    <div class="w-100 m-0 p-0">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide manga-card" th:each="manga : ${mangaPage.content}">
                    <a th:href="@{/manga/{id}(id=${manga.id})}">
                        <div class="box-img">
                            <img th:src="${manga.thumbnailImg}" th:attr="alt=${manga.name}">
                        </div>
                        <div class="box-name">
                            <h6 th:text="${manga.name}" class="mb-2"></h6>
                        </div>
                    </a>
                    <table class="w-100">
                    <tr th:each="chapter, iterStat : ${manga.getChapters()}" th:if="${iterStat.index < 3}">
                        <td><a href="#"><small th:text="${chapter.getName()}"></small></a> </td>
                        <td class="justify-content-end">
                            <i class="text-secondary" th:text="${chapter.getCreatedTime()}"></i>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<div class="m-0 px-0 py-3 w-100 row">
    <div class="col-12 col-lg-8">
        <h6 class="theme-page-title" th:text="${global.get('appname')} + ' - Truyện mới cập nhật >'"></h6>
        <div class="row m-0 p-0">
            <div class="col-6 col-sm-4 col-md-3 manga-card" th:each="manga : ${mangaPage.content}">
                <a th:href="@{/manga/{id}(id=${manga.id})}">
                    <div class="box-img">
                        <img th:src="${manga.thumbnailImg}" th:attr="alt=${manga.name}">
                    </div>
                    <div class="box-name">
                        <h6 th:text="${manga.name}" class="mb-2"></h6>
                    </div>
                </a>
                <table class="w-100">
                    <tr th:each="chapter, iterStat : ${manga.getChapters()}" th:if="${iterStat.index < 3}">
                        <td><a href="#"><small th:text="${chapter.getName()}"></small></a> </td>
                        <td class="justify-content-end">
                            <i class="text-secondary" th:text="${chapter.getCreatedTime()}"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div th:if="${maxPage > 1}" class="box-pagination w-100 m-0 p-0 my-3 d-flex justify-content-center">
            <div id="pagination" class="d-flex gap-1 gap-md-3">
                <a href="/?page=1" class="btn page-item inactive" id="first">
                    ‹‹
                </a>
                <a href="#" class="btn page-item inactive" id="prev">
                    ‹
                </a>
                <a href="/?page=1" class="btn page-item">
                    1
                </a>
                <a href="/?page=2" class="btn page-item active">
                    2
                </a>
                <a href="/?page=3" class="btn page-item">
                    3
                </a>
                <a href="#" class="btn page-item" id="next">
                    ›
                </a>
                <a th:href="'/?page=' + ${maxPage}" class="btn page-item" id="last">
                    ››
                </a>
            </div>
        </div>

        
    </div>
    <div class="col-12 ps-lg-4 col-lg-4">
        <div class="w-100 m-0 p-2 mb-3 border reading-history">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="sm-theme-page-title">Lịch sử đọc truyện</h6>
                <a href="#" class="btn m-0 p-0 border-0 shadow-0"><i>Xem tất cả</i></a>
            </div>

            <div class="w-100 m-0 p-0 list-history">
                <div class="manga-item">
                    <div class="mI_thumb">
                        <img src="../img/user.jpg">
                    </div>
                    <div class="mI_info">
                        <div class="mI_name">
                            Tinh giáp hồn tướng
                        </div>
                        <div class="mI_control">
                            <a href="#" class="btn m-0 p-0">Đọc tiếp Chapter 205 ></a>
                            <n><i class="fas fa-times"></i> Xóa</n>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 m-0 p-0 list-top-manga">
            <div class="w-100 m-0 p-0 box-tab" role="tablist">
                <button class=" active" id="top-month-tab" data-bs-toggle="tab" data-bs-target="#top-month"
                    type="button" role="tab" aria-controls="top-month" aria-selected="true">Top tháng</button>
                <button class="" id="top-week-tab" data-bs-toggle="tab" data-bs-target="#top-week"
                    type="button" role="tab" aria-controls="top-week" aria-selected="false">Top tuần</button>
                <button class="" id="top-day-tab" data-bs-toggle="tab" data-bs-target="#top-day"
                    type="button" role="tab" aria-controls="top-day" aria-selected="false">Top ngày</button>
            </div>
            <div class="tab-content p-2">
                <div class="tab-pane fade show active w-100" id="top-month" role="tabpanel" aria-labelledby="top-month-tab">
                    
                    <div class="top-item">
                        <div class="box-rank">
                            <span>01</span>
                        </div>
                        <div class="manga-item">
                            <div class="mI_thumb">
                                <img src="../img/user.jpg">
                            </div>
                            <div class="mI_info">
                                <div class="mI_name">
                                    Tinh giáp hồn tướng
                                </div>
                                <div class="mI_control">
                                    <a href="#" class="btn m-0 p-0">Chapter 205</a>
                                    <i><i class="far fa-eye"></i> 62K</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="top-item">
                        <div class="box-rank">
                            <span>02</span>
                        </div>
                        <div class="manga-item">
                            <div class="mI_thumb">
                                <img src="../img/user.jpg">
                            </div>
                            <div class="mI_info">
                                <div class="mI_name">
                                    Tinh giáp hồn tướng
                                </div>
                                <div class="mI_control">
                                    <a href="#" class="btn m-0 p-0">Chapter 205</a>
                                    <i><i class="far fa-eye"></i> 62K</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="top-item">
                        <div class="box-rank">
                            <span>03</span>
                        </div>
                        <div class="manga-item">
                            <div class="mI_thumb">
                                <img src="../img/user.jpg">
                            </div>
                            <div class="mI_info">
                                <div class="mI_name">
                                    Tinh giáp hồn tướng
                                </div>
                                <div class="mI_control">
                                    <a href="#" class="btn m-0 p-0">Chapter 205</a>
                                    <i><i class="far fa-eye"></i> 62K</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="top-item">
                        <div class="box-rank">
                            <span>04</span>
                        </div>
                        <div class="manga-item">
                            <div class="mI_thumb">
                                <img src="../img/user.jpg">
                            </div>
                            <div class="mI_info">
                                <div class="mI_name">
                                    Tinh giáp hồn tướng
                                </div>
                                <div class="mI_control">
                                    <a href="#" class="btn m-0 p-0">Chapter 205</a>
                                    <i><i class="far fa-eye"></i> 62K</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="top-item">
                        <div class="box-rank">
                            <span>05</span>
                        </div>
                        <div class="manga-item">
                            <div class="mI_thumb">
                                <img src="../img/user.jpg">
                            </div>
                            <div class="mI_info">
                                <div class="mI_name">
                                    Tinh giáp hồn tướng
                                </div>
                                <div class="mI_control">
                                    <a href="#" class="btn m-0 p-0">Chapter 205</a>
                                    <i><i class="far fa-eye"></i> 62K</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="top-week" role="tabpanel" aria-labelledby="top-week-tab">b</div>
                <div class="tab-pane fade" id="top-day" role="tabpanel" aria-labelledby="top-day-tab">...</div>
              </div>
        </div>
    </div>
</div>

<script>
    const swiper = new Swiper('.swiper', {
        on: {
            init: function () {
                // console.clear();
            },
        },
        slidesPerView: 2,
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            576: {
                slidesPerView: 3,
                spaceBetween: 10,
            },
            768: {
                slidesPerView: 4,
                spaceBetween: 10,
            },
            992: {
                slidesPerView: 5,
                spaceBetween: 10,
            },
            1200: {
                slidesPerView: 6,
                spaceBetween: 10,
            },
        },
        loop: true,
        debug: false,
        autoplay: {
            delay: 2000, // Time in milliseconds between slide transitions
            disableOnInteraction: false, // Continue autoplay after user interactions
        },
    });
</script>