<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Top Ranked Manga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Top Ranked Manga</h1>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 manga-card" th:each="manga : ${mangaRankings}">
                <a th:href="@{/manga/{id}(id=${manga.id})}">
                    <div class="box-img">
                        <img loading="lazy" th:src="${manga.thumbnailImg}" th:attr="alt=${manga.name}">
                        <div class="box-skeleton">
                            <i class="fas fa-spinner"></i>
                        </div>
                    </div>
                    <div class="box-name">
                        <h6 th:text="${manga.name}" class="mb-2"></h6>
                    </div>
                </a>
                <table class="w-100">
                    <tr th:each="chapter, iterStat : ${manga.getChapters()}" th:if="${iterStat.index < 3}">
                        <td><a th:href="'/manga/' + ${manga.id} + '/chapter/' + ${chapter.id}"><small
                                    th:text="${chapter.getName()}"></small></a> </td>
                        <td class="justify-content-end">
                            <i class="text-secondary" th:text="${chapter.getCreatedTime()}"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>