<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top Ranked Manga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Top Ranked Manga</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Manga ID</th>
            <th>Read Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ranking, stat : ${mangaRankings}">
            <td th:text="${stat.count + 1}"></td>
            <td th:text="${ranking.mangaId}"></td>
            <td th:text="${ranking.readCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
